{# Page de connexion // Gérée par SecurityController #}
{% extends 'base.html.twig' %}

{% block title %}Erreur - Village Green{% endblock %}

{% block content %}
    <div class="block-small">
            <h1 class="h3 mb-3 font-weight-normal">Page introuvable</h1>
        <a href="{{ path('home') }}">Retour à l'accueil</a>
    </div>
{% endblock %}
