<h1>Félicitation {{ recipientFullName }} !</h1>

<p>
    Nous avons le plaisir de vous confirmer votre inscription sur villagegreen.com <br>

    Votre adresse e-mail de connexion est : <strong>{{ recipientMail }}</strong>
</p>

<p>Rendez-vous sur <a href="#">villagegreen.com</a> pour continuer en musique</p>

<p>
    Cordialement,
    VillageGreen
</p>