<h1>Bonjour {{ recipientFullName }}, </h1>

<p>
    Veuillez cliquer sur le lien ci-dessous pour réinitialiser votre mot de passe <br>
    <a href="{{ url }}">villagegreen.com</a> pour continuer en musique
</p>



<p>
    Cordialement,
    VillageGreen
</p>