{# Page d'inscription // Gérée par RegisterController #}
{% extends 'base.html.twig' %}

{% block title %}Inscription - Green Village{% endblock %}

{% block content %}
    <h1 class="mt-5">Inscription</h1>
    {{ form(form) }}
{% endblock %}
