*, ::before, ::after{
    box-sizing: border-box;
    margin: 0; 
    padding: 0;
}

body {
    height: 100vh;
    background: linear-gradient(to right, #1488cc, #2b32b2); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family: Arial, Helvetica, sans-serif;
}
