{# Page personelle de l'utilisateur / Gérée par AccountController #}

{% extends 'base.html.twig' %}

{% block title %}Mon Compte - Village Green{% endblock %}

{% block content %}
    <h1>Mon compte</h1>
    <br>
    <h3>Bienvenue {{ app.user.firstname }}</h3>
    <p>C'est dans cet espace que vous allez pouvoir gérer toutes vos informations personnelles.</p>
    <hr>
    <a href="{{ path('password') }}"> Modifier mon mot de passe</a> <br>
    <a href="{{ path('account_address') }}">Gérer mes adresses</a> <br>
    <a href="{{ path('account_order') }}">Mes commandes</a>

{% endblock %}
