{# Page de modification du mot de passe // Gérée par AccountPasswordController #}
{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe - Village Green{% endblock %}

{% block content %}
    <h1>Mon mot de passe</h1>
    <h2>Bienvenue {{ app.user.firstname }}</h2>
    <a href="{{ path('account') }}"> Mon Compte</a>
    {% if message %}
        <div class="alert alert-info">{{ message }} </div>
    {% endif %}
    <hr>
    {{ form(form) }}
{% endblock %}